@import "../../../../scss/margarita";

.btn-burger {
  margin-top: .25rem;
  margin-right: 1.5rem;
  min-width: 1.5rem;
  text-indent: 100%;
  content: "";

  .burger-bar--1,
  .burger-bar--2,
  .burger-bar--3 {
    transition: .4s;
    margin-bottom: .25rem;
    background-color: get-color("dark-hot-pink");
    width: 100%;
    height: .1875rem;
  }

  .burger-bar--2 {
    width: 1.125rem;
  }
}
