@import "../../../scss/margarita";

.slider-bar__label {
  margin-top: 1rem;
  color: get-color("boulder");
}

.slider-bar__label--active {
  @include font-weight(medium);
  color: get-color("tundora");
}
