@import '../../scss/margarita';

$ma-range-height: rem(16px);
$ma-range-radius: rem(10px);
$ma-range-transition: 0.2s;
$ma-range-bullet-size: rem(4px);

.ma-range {
  position: relative;
  margin-top: rem(4px);
  padding-bottom: rem(32px);

  &::after {
    display: block;
    border-radius: $ma-range-radius;
    background-color: get-color('alto');
    width: 100%;
    height: $ma-range-height;
    content: '';
  }

  &__label {
    color: get-color('tundora');
  }

  &__step {
    position: absolute;
    cursor: pointer;
    padding-top: rem(21px);
    color: get-color('boulder');
    user-select: none;
  }

  &__step--active {
    @include font-weight(medium);
    color: get-color('tundora');
  }

  &__native-element {
    appearance: none;
    position: absolute;
    top: rem(-2px);
    left: rem(-10px);
    opacity: 0;
    z-index: 1;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  &__circle {
    display: inline-block;
    position: absolute;
    transition: $ma-range-transition;
    border: 2px solid get-color('dark-hot-pink');
    border-radius: 50%;
    background: get-color('white');
    width: $ma-range-height;
    height: $ma-range-height;
  }

  &__progress {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transition: $ma-range-transition;
    border-radius: $ma-range-radius;
    background: linear-gradient(
      to right,
      get-color('buttercup'),
      get-color('dark-hot-pink')
    );
    height: $ma-range-height;
  }

  &__bullet {
    display: inline-block;
    position: absolute;
    top: rem(6px);
    left: 0%;
    z-index: 2;
    border-radius: 50%;
    background: get-color('white');
    cursor: pointer;
    width: $ma-range-bullet-size;
    height: $ma-range-bullet-size;
    pointer-events: none;
  }
}
