$ma-range-height: 1rem;
$ma-range-radius: 10px;
$ma-range-transition: 0.2s;
$ma-range-bullet-size: 4px;

.ma-range {
  position: relative;
  margin-top: 4px;
  padding-bottom: 2rem;

  &::after {
    display: block;
    border-radius: $ma-range-radius;
    background-color: get-color(gray, light);
    width: 100%;
    height: $ma-range-height;
    content: '';
  }

  &__label {
    color: get-color(gray, dark);
  }

  &__step {
    position: absolute;
    cursor: pointer;
    padding-top: 21px;
    color: get-color(gray);
    user-select: none;
  }

  &__step--active {
    @include font-weight(medium);
    color: get-color(gray, dark);
  }

  &__native-element {
    appearance: none;
    position: absolute;
    top: -2px;
    left: -10px;
    opacity: 0;
    z-index: 1;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  &__circle {
    display: inline-block;
    position: absolute;
    transition: $ma-range-transition;
    border: 2px solid get-color(pink);
    border-radius: 50%;
    background: get-color(white);
    width: $ma-range-height;
    height: $ma-range-height;
  }

  &__progress {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transition: $ma-range-transition;
    border-radius: $ma-range-radius;
    background: linear-gradient(to right, get-color(orange), get-color(pink));
    height: $ma-range-height;
  }

  &__bullet {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0%;
    z-index: 2;
    border-radius: 50%;
    background: get-color(white);
    cursor: pointer;
    width: $ma-range-bullet-size;
    height: $ma-range-bullet-size;
    pointer-events: none;
  }
}
