@import '../../../scss/margarita';

@include make-grid-columns();

.grid-col {
  &--direction-column {
    flex-direction: column;
  }

  &--align-start {
    align-items: start;
  }

  & > * {
    flex: auto;
  }
}
