$colors: (
  pink: (
    light: #f8b0cb,
    base: #e6007d,
    dark: #b3005d,
  ),
  white: (
    base: #ffffff,
  ),
  black: (
    base: #000000,
  ),
  gray: (
    light: #dcdcdc,
    base: #767676,
    dark: #4a4a4a,
    darker: #212121,
  ),
  green: (
    light: #e2f3ad,
    base: #237b01,
    dark: #1f6d4a,
  ),
  blue: (
    light: #daf4fa,
    base: #296c89,
  ),
  turquoise: (
    base: #24b578,
  ),
  yellow: (
    light: #fdf6dd,
    base: #f5d154,
    dark: #ffba03,
  ),
  red: (
    light: #ffdddc,
    base: #cb1010,
  ),
  orange: (
    base: #f06c17,
  ),
  brown: (
    light: #f9f8f3,
    base: #c8c0ab,
  ),
);

// Temporary. How do we handle shadows?
$shadow-light: rgba(0, 0, 0, 0.027451);
$shadow-medium: rgba(0, 0, 0, 0.0980392);
$shadow-dark: rgba(0, 0, 0, 0.498);

:export {
  @each $name, $colorGroups in $colors {
    @each $tone, $value in $colorGroups {
      #{$name}-#{$tone}: $value;
    }
  }
}
