.ma-pill {
  @include font-weight(semibold);

  display: inline-block;
  border-radius: rem(8px);
  padding: rem(6px) rem(12px);
  width: auto;
  font-size: rem(14px);

  &--green {
    background-color: get-color(green, light);
    color: get-color(green);
  }

  &--red {
    background-color: get-color(pink, light);
    color: get-color(pink);
  }

  &--orange {
    background-color: get-color(yellow, dark);
    color: get-color(orange);
  }

  &--gray {
    border: 1px solid get-color(sky, light);
    background-color: get-color(sky, light);
    color: get-color(ink, light);
  }

  &--dark {
    background-color: get-color(ink, light);
    color: get-color(white);
  }

  &--blue {
    background-color: get-color(blue, light);
    color: get-color(blue);
  }
}
