@import "../../../scss/margarita";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: get-color("white");
  width: 100%;
  height: 3rem;

  @include mq($from: lg) {
    margin: 1rem 0;
    height: auto;
  }

  &__logo {
    display: flex;
    flex: 0 1 100%;
    max-width: 100%;
    height: 1.5rem;

    @include mq($from: lg) {
      height: auto;
    }
  }

  &__buttons {
    display: flex;
    flex: 0 1 100%;
    justify-content: flex-end;

    .button-input {
      flex: 0 0 rem(105px);
      margin-left: 1.5rem;
      height: rem(24px);
      font-size: rem(12px);

      @include mq($from: lg) {
        @include font-weight(semibold);

        flex-basis: rem(170px);
        height: rem(36px);
        font-size: 1rem;
      }

      &--client-zone {
        display: none;

        @include mq($from: lg) {
          display: flex;
        }
      }
    }
  }

  &-logo {
    &__image {
      flex: 0 0 5.7rem;
      background-image: url("../../../assets/images/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 1.5rem;
      content: "";

      @include mq($from: lg) {
        flex-basis: rem(140px);
        height: auto;
      }
    }
  }

  .btn-burger {
    @include mq($from: lg) {
      display: none;
    }
  }

}

.mobile-navigation {
  @include slide-animation(.4s);

  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-wrap: wrap;
  z-index: 100;
  background-color: get-color("white");

  &__header {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    background-color: get-color("emperor");
    height: rem(36px);
  }
}
