.alert {
  --alert-border-color: none;
  --alert-background-color: none;
  --alert-icon: none;

  display: flex;
  color: var(--color-gray-darker);
  border: 1px solid var(--alert-border-color);
  background-color: var(--alert-background-color);
  padding: 1rem;
}

.icon {
  display: block;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  background-image: var(--alert-icon);
}

.alert--red {
  --alert-border-color: var(--color-red-base);
  --alert-background-color: var(--color-red-light);
  --alert-icon: url('../../assets/icons/alert-error.svg');
}

.alert--blue {
  --alert-border-color: var(--color-blue-base);
  --alert-background-color: var(--color-blue-light);
  --alert-icon: url('../../assets/icons/info.svg');
}

.alert--green {
  --alert-border-color: var(--color-green-base);
  --alert-background-color: var(--color-green-light);
  --alert-icon: url('../../assets/icons/rounded-tick.svg');
}

.alert--yellow {
  --alert-border-color: var(--color-yellow-dark);
  --alert-background-color: var(--color-yellow-light);
  --alert-icon: url('../../assets/icons/warning.svg');
}

.alert--red a,
.alert--blue a,
.alert--green a,
.alert--yellow a {
  text-decoration: underline;
}

.alert--red a:hover,
.alert--blue a:hover,
.alert--green a:hover,
.alert--yellow a:hover {
  text-decoration: none;
}

.alert--red a {
  color: var(--color-red-base);
}

.alert--blue a {
  color: var(--color-blue-base);
}

.alert--green a {
  color: var(--color-green-base);
}

.alert--yellow a {
  color: var(--color-pink-base);
}
