.alert {
  --alert-border-color: none;
  --alert-background-color: none;
  --alert-icon: none;

  display: flex;
  color: var(--color-gray-darker);
  border: 1px solid var(--alert-border-color);
  background-color: var(--alert-background-color);
  padding: 1rem;
}

.icon {
  display: block;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  background-image: var(--alert-icon);
}

.alert--error {
  --alert-border-color: var(--color-red-base);
  --alert-background-color: var(--color-red-light);
  --alert-icon: url('../../assets/icons/alert-error.svg');
}

.alert--info {
  --alert-border-color: var(--color-blue-base);
  --alert-background-color: var(--color-blue-light);
  --alert-icon: url('../../assets/icons/info.svg');
}

.alert--success {
  --alert-border-color: var(--color-green-base);
  --alert-background-color: var(--color-green-light);
  --alert-icon: url('../../assets/icons/rounded-tick.svg');
}

.alert--warning {
  --alert-border-color: var(--color-yellow-dark);
  --alert-background-color: var(--color-yellow-light);
  --alert-icon: url('../../assets/icons/warning.svg');
}

.alert--error a,
.alert--info a,
.alert--success a,
.alert--warning a {
  text-decoration: underline;
}

.alert--error a:hover,
.alert--info a:hover,
.alert--success a:hover,
.alert--warning a:hover {
  text-decoration: none;
}

.alert--error a {
  color: var(--color-red-base);
}

.alert--info a {
  color: var(--color-blue-base);
}

.alert--success a {
  color: var(--color-green-base);
}

.alert--warning a {
  color: var(--color-pink-base);
}
