.alert-banner {
  --alert-border-color: none;
  --alert-background-color: none;
  --alert-icon: none;

  display: flex;
  color: var(--color-gray-darker);
  border: 1px solid var(--alert-border-color);
  background-color: var(--alert-background-color);
}

.alert-banner__icon {
  display: block;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  background-image: var(--alert-icon);
}

.alert-banner--small {
  padding: 0.5rem;
}

.alert-banner--small .alert-banner__icon {
  margin-right: 0.5rem;
}

.alert-banner--medium {
  padding: 1rem;
}

.alert-banner--large {
  padding: 1.5rem;
}

.alert-banner--error {
  --alert-border-color: var(--color-red-base);
  --alert-background-color: var(--color-red-light);
  --alert-icon: url('../../assets/icons/alert-error.svg');
}

.alert-banner--info {
  --alert-border-color: var(--color-blue-base);
  --alert-background-color: var(--color-blue-light);
  --alert-icon: url('../../assets/icons/info.svg');
}

.alert-banner--success {
  --alert-border-color: var(--color-green-base);
  --alert-background-color: var(--color-green-light);
  --alert-icon: url('../../assets/icons/rounded-tick.svg');
}

.alert-banner--warning {
  --alert-border-color: var(--color-yellow-dark);
  --alert-background-color: var(--color-yellow-light);
  --alert-icon: url('../../assets/icons/warning.svg');
}
