// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}
