.ma-option-card {
  & .input:not(:disabled) {
    &:focus ~ .description {
      border-color: var(--color-pink-light);
    }
    &:hover ~ .description,
    &:checked ~ .description {
      border-color: var(--color-pink-base);
    }

    &:checked ~ .description::before {
      display: block;
    }

    &:checked ~ .description::after {
      background-color: var(--color-pink-base);
    }
  }

  & .input:disabled ~ .description {
    cursor: not-allowed;
    border-color: var(--color-gray-light);
    background-color: var(--color-brown-light);
    color: var(--color-gray-base);
  }

  & .description::before {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    background-image: url('../../assets/icons/tick.svg');
    background-size: 0.75rem 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    content: '';
  }

  & .description::after {
    position: absolute;
    top: 0;
    right: -2rem;
    transition: background-color 0.33s;
    width: 5rem;
    height: 1.7rem;
    content: '';
    transform: rotateZ(45deg);
  }

  & .description {
    cursor: pointer;
    flex: 1;
    border: 1px solid var(--color-gray-light);
    border-radius: 0.5rem;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.027);
    background-color: var(--color-white-base);
    padding: 1.2rem 1.5rem;
    transition: border 0.2s ease;
    position: relative;
    overflow: hidden;
  }

  &.has-error .description {
    border-color: var(--color-red-base);
  }
}

.ma-radio,
.ma-checkbox {
  display: flex;
  position: relative;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;

  & .indicator {
    border: 1px solid var(--color-gray-light);
    background-color: var(--color-white-base);
    width: 1rem;
    height: 1rem;
    position: relative;
    transition: border 0.4s, background-color 0.33s;
    flex-shrink: 0;
  }

  &.size-xsmall .description {
    margin-top: 4px;
  }
  &.size-small .description {
    margin-top: 3px;
  }
  &.size-medium .description {
    margin-top: 2px;
  }

  & .description {
    padding-left: 0.5rem;
  }

  & .input:hover ~ .indicator,
  & .input:active ~ .indicator,
  & .input:checked ~ .indicator {
    border-color: var(--color-pink-base);
  }
  & .input:disabled ~ .indicator {
    border-color: var(--color-gray-base);
    cursor: not-allowed;
  }
  & .input:disabled ~ .description {
    cursor: not-allowed;
  }
  &.has-error .indicator {
    border-color: var(--color-red-base);
  }
}

.ma-checkbox {
  & .input:checked ~ .indicator,
  & .input:disabled ~ .indicator {
    border: 1px solid;
    background-image: url('../../assets/icons/tick.svg');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 12px 12px;
  }
  & .input:disabled ~ .indicator {
    background-color: var(--color-gray-base);
  }
  & .input:focus ~ .indicator {
    border-color: var(--color-pink-light);
    box-shadow: inset 0 0 0 1px var(--color-gray-light);
  }
  & .input:checked ~ .indicator {
    box-shadow: none;
    background-color: var(--color-pink-base);
  }
}

.ma-radio {
  & .indicator {
    border-radius: 50%;
    &::before {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.33s;
      content: '';
    }
  }
  & .input:checked ~ .indicator::before {
    background-color: var(--color-pink-base);
  }
  & .input:disabled ~ .indicator {
    background-color: var(--color-gray-light);
  }
  & .input:focus ~ .indicator {
    outline: 1px solid var(--color-gray-light);
  }
}

.error-icon {
  width: 14px;
  height: 14px;
  margin-left: 0.5rem;
  background: url('../../assets/icons/alert-error.svg') no-repeat;
}
