.ma-option--checkbox {
  --indicator-size: 1rem;
}

.ma-option--checkbox .indicator {
  position: absolute;
  top: 0;
  left: 0;
  transition: border 0.4s, background-color 0.33s;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-white-base);
  width: var(--indicator-size);
  height: var(--indicator-size);
}

.ma-option--checkbox .description {
  /* .indicator is absolute-positioned. We need to make room for the text */
  padding-left: calc(var(--indicator-size) + 0.5rem);
  margin-top: 2px;
  color: var(--color-gray-dark);
}

.ma-option--checkbox .input {
  &:hover ~ .indicator {
    border: 1px solid var(--color-pink-base);
  }

  &:checked ~ .indicator,
  &:disabled ~ .indicator {
    border: 1px solid;
    background-image: url('../../assets/icons/tick.svg');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 12px 12px;
  }

  &:checked ~ .indicator {
    background-color: var(--color-pink-base);
    border-color: var(--color-pink-base);
  }

  &:active ~ .indicator {
    background-color: var(--color-pink-dark);
    border-color: var(--color-pink-dark);
  }

  &:disabled ~ .indicator {
    background-color: var(--color-gray-base);
    border-color: var(--color-gray-base);
    cursor: not-allowed;
  }

  &:disabled ~ .description {
    cursor: not-allowed;
  }
}
