@mixin font-weight($w: regular) {
  $weights: (
    regular: 400,
    medium: 500,
    semibold: 700,
    bold: 900
  );

  $weight: if(
    map-has-key($weights, $w),
    map-get($weights, $w),
    map-get($weights, "regular")
  );

  font-weight: $weight;
}
