@mixin gradient-image($url) {
  background-image: linear-gradient(
      to bottom,
      get-alpha-color(white, 1) 0%,
      get-alpha-color(white, 0.8) 60%,
      get-alpha-color(white, 0) 90%
    ),
    url($url);

  &:hover,
  &:focus {
    background-image: linear-gradient(
        to bottom,
        get-alpha-color(white, 1) 0%,
        get-alpha-color(white, 0.7) 60%,
        get-alpha-color(white, 0) 90%
      ),
      url($url);
    text-decoration: none;
  }
}
