.ma-text {
  padding: 0;
  margin: 0;
  font-weight: normal;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::before {
    margin-bottom: var(--top-crop);
  }

  &::after {
    margin-top: var(--bottom-crop);
  }

  &.ma-text--italic {
    font-style: italic;
  }

  &.ma-text--bold {
    font-weight: bold;
  }
}
