.ma-link {
  padding: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s, border-color 0.2s;
  border: 1px solid transparent;
  cursor: pointer;
}

.ma-link--no-background {
  font-weight: 400;
  transition: color 0.2s;
  border: 0;
  color: var(--color-pink-base);
  text-decoration: underline;
  display: inline;
  padding: 0;

  &:hover {
    text-decoration: none;
    color: var(--color-pink-dark);
  }

  &:active {
    text-decoration: underline;
    color: var(--color-pink-light);
  }
}

.ma-link--no-background-white {
  font-weight: 400;
  transition: color 0.2s;
  border: 0;
  color: var(--color-white-base);
  text-decoration: underline;
  display: inline;
  padding: 0;

  &:hover {
    text-decoration: none;
    color: var(--color-gray-light);
  }

  &:active {
    text-decoration: underline;
    color: var(--color-pink-light);
  }
}

.ma-link--primary {
  background-color: var(--color-pink-base);
  color: var(--color-white-base);

  &:hover {
    background-color: var(--color-pink-dark);
    color: var(--color-white-base);
  }

  &:active {
    background-color: var(--color-pink-light);
    color: var(--color-white-base);
  }
}

.ma-link--secondary {
  border-color: var(--color-pink-base);
  background-color: transparent;
  color: var(--color-pink-base);

  &:hover {
    background-color: var(--color-pink-base);
    color: var(--color-white-base);
  }

  &:active {
    background-color: var(--color-pink-light);
    border-color: var(--color-pink-light);
  }
}

.ma-link--white {
  border-color: var(--color-white-base);
  background-color: transparent;
  color: var(--color-white-base);

  &:hover {
    background-color: var(--color-pink-base);
    border-color: var(--color-pink-base);
    color: var(--color-white-base);
  }

  &:active {
    background-color: var(--color-pink-light);
    border-color: var(--color-pink-light);
  }
}

.ma-link--gradient {
  background-image: linear-gradient(
    to right,
    var(--color-pink-base) 0%,
    var(--color-orange-base) 40%,
    var(--color-yellow-dark) 50%,
    var(--color-orange-base) 60%,
    var(--color-pink-base) 100%
  );
  background-size: 200% auto;
  color: var(--color-white-base);

  &:hover {
    background-position: right center;
  }

  &:active {
    background-position: initial;
  }
}
