@import "../../../scss/margarita";

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s, border-color .3s;
  border: rem(1px) solid transparent;
  padding: rem(11px);
  text-decoration: none;

  &--rounded {
    border-radius: 100%;
  }

  &--primary {
    background-color: get-color("dark-hot-pink");
    color: get-color("white");

    &:hover,
    &:active {
      background-color: darken(get-color("dark-hot-pink"), 10%);
      color: get-color("white");
    }

    &.icon-button--rounded {
      box-shadow: 0 rem(2px) rem(3px) rem(2px) get-color("shadow-medium");
    }
  }

  &--secondary {
    border: rem(1px) solid get-color("dark-hot-pink");
    background-color: transparent;
    color: get-color("dark-hot-pink");

    &:hover,
    &:active {
      background-color: get-color("dark-hot-pink");
      color: get-color("white");
    }

    &.icon-button--rounded {
      border-color: transparent;
      background-color: transparent;
      color: get-color("dark-hot-pink");

      &:hover,
      &:active {
        border-color: lighten(get-color("dark-hot-pink"), 50%);
        background-color: lighten(get-color("dark-hot-pink"), 50%);
      }
    }
  }
}

button {
  outline: inherit;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

input {
  &[type="submit"] {
    outline: inherit;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
  }
}
