@import "../../../../../scss/margarita";

.tools-navbar {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  z-index: 10;
  margin: 0;
  box-shadow: 0 0 rem(6px) rem(2px) get-color("shadow");
  background-color: get-color("white");
  padding: rem(64px) 0 0;
  min-width: rem(216px);
  height: 100%;

  &__link {
    padding: 0 rem(32px);
    list-style: none;
    line-height: rem(56px);
  }

  &__anchor {
    transition: color .3s;
    text-decoration: none;
    color: get-color("gray");

    &::before {
      display: block;
      position: absolute;
      left: 0;
      transition: background-color .3s;
      width: rem(1px);
      height: rem(56px);
      content: "";
    }

    &:hover {
      color: get-color("dark-hot-pink");

      &::before {
        background-color: get-color("dark-hot-pink");
      }
    }

    .active & {
      @include font-weight(semibold);

      color: get-color("tundora");

      &::before {
        background-image: linear-gradient(
          180deg,
          get-color("dark-hot-pink") 0,
          get-color("school-bus-yellow")
        );
        width: rem(3px);
      }
    }
  }
}
