@import "../../../scss/margarita";

.sidebar-drawer {
  display: flex;
  top: 0;
  bottom: 0;
  flex-direction: column;
  z-index: 9999;
  margin: 0;
  background-color: get-color("white");
  padding: rem(16px);
  min-width: rem(216px);
  overflow-x: hidden;

  &--attached {
    position: absolute;
  }

  &--fixed {
    position: fixed;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--shadow {
    box-shadow: 0 0 rem(6px) rem(2px) get-color("shadow-light");
  }

}



