$stack-spacing: map-keys($layout-spacing);

.stack {
  display: grid;
  grid-auto-flow: row;
}

@each $space in $stack-spacing {
  .stack--space-#{$space} {
    grid-gap: get-space($space);
  }
}

.stack--align-left {
  justify-items: flex-start;
}

.stack--align-center {
  justify-items: center;
}

.stack--align-right {
  justify-items: flex-end;
}
