/// Returns the color value for a given color name.
///
/// @param {String} $hue - The color's hue.
/// @param {String} $value - The darkness/lightness of the color. Defaults to "base".
/// @return {Color} The color value.

@function get-color($hue, $value: base) {
  // Inspecting $hue prevents node-sass from
  // parsing it as a color (and transforming 'white' to '#fff').
  // https://sass-lang.com/documentation/modules/meta#inspect
  $stringified-hue: inspect($hue);

  $color-map: map-get($tokens, 'color');
  $color: map-get(map-get($color-map, $stringified-hue), $value);

  @if type-of($color) == color {
    @return $color;
  } @else {
    @error 'Color `#{$hue}-#{$value}` not found. Available colors: #{available-names($color-map)}';
  }
}

@function get-alpha-color($color: '', $amount: 0) {
  @return transparentize(get-color($color), $amount);
}
