@import "../../scss/mixins/grid";
@import "../../scss/variables/grid";

.m-row {
  @include make-row();
}

.m-row--no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .m-column,
  > [class*="m-column--"] {
    padding-right: 0;
    padding-left: 0;
  }
}
