@import '../../scss/margarita';

.radio {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: rem(12px) 0;
  width: 100%;

  .radio__indicator {
    position: relative;
    flex-shrink: 0;
    margin-top: 1px;
    border: rem(1px) solid get-color('gray');
    border-radius: 50%;
    background-color: get-color('white');
    cursor: pointer;
    width: rem(16px);
    height: rem(16px);
    user-select: none;
  }

  .radio__description {
    cursor: pointer;
    padding-left: rem(6px);
  }

  .radio__input {
    &:disabled ~ .radio__description,
    &:disabled ~ .radio__indicator {
      cursor: not-allowed;
    }

    &:disabled ~ .radio__indicator {
      background-color: get-color('concrete');
    }

    &:not(:disabled) {
      &:active,
      &:checked,
      &:focus {
        ~ .radio__indicator::before {
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          border-radius: 50%;
          background-color: get-color('dark-hot-pink');
          content: '';
        }
      }

      ~ .radio__indicator {
        border-color: get-color('dark-hot-pink');
      }
    }
  }
}

.radio-card {
  display: flex;
  position: relative;
  cursor: pointer;

  .radio__input {
    &:hover,
    &:focus,
    &:checked {
      & ~ .radio__description {
        border-color: get-color('dark-hot-pink');
      }
    }

    &:checked ~ .radio__indicator {
      $indicator-svg-size: rem(13px);

      &::before {
        display: block;
        position: absolute;
        top: rem(5px);
        right: rem(5px);
        z-index: 1;
        background-image: url('../../../assets/icons/tick.svg');
        background-size: $indicator-svg-size $indicator-svg-size;
        width: $indicator-svg-size;
        height: $indicator-svg-size;
        content: ' ';
      }

      &::after {
        border-color: transparent;
        border-right-color: get-color('dark-hot-pink');
      }
    }

    &:disabled ~ .radio__description,
    &:disabled ~ .radio__indicator {
      cursor: not-allowed;
    }
  }

  .radio__indicator {
    $indicator-size: 2.5rem;

    position: absolute;
    right: 0;
    transition: border-color 0.33s, border-width 0.33s, background-color 0.33s;
    border: 0 solid transparent;
    border-radius: rem(8px);
    background-color: transparent;
    width: $indicator-size;
    height: $indicator-size;
    overflow: hidden;
    user-select: none;

    &::after {
      position: absolute;
      top: rem(-1px);
      right: rem(-1px);
      transition: border-color 0.33s;
      border-width: 0 $indicator-size $indicator-size 0;
      border-style: solid;
      border-color: transparent;
      width: 0;
      height: 0;
      content: ' ';
    }
  }

  .radio__description {
    flex: 1;
    border: rem(1px) solid get-color('alto');
    border-radius: rem(8px);
    box-shadow: 0 0 rem(8px) rem(6px) get-color('shadow-light');
    background-color: get-color('white');
    padding: rem(24px);
  }
}
