@import '../../scss/margarita';
$pink-circle: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23e6007d'/%3E%3C/svg%3E";

.radio-button {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  padding-left: 1.5rem;
  width: 100%;
  min-height: 1.5rem;
  font-family: 'Ciutadella';

  .input {
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    z-index: -1;
    padding: 0;

    &:not(:disabled) {
      &:active,
      &:checked,
      &:focus {
        ~ .radio-indicator {
          border: rem(1px) solid get-color('dark-hot-pink');
          box-shadow: none;
          background-color: get-color('white');
          background-image: url($pink-circle);
          background-size: 100% 100%;
        }
      }
    }

    &:disabled {
      & ~ .radio-description {
        cursor: not-allowed;
      }
      & ~ .radio-indicator {
        background-color: get-color('concrete');
      }
    }
  }

  .radio-indicator {
    display: block;
    position: absolute;
    top: rem(2.5px);
    left: 0;
    border: rem(1px) solid get-color('gray');
    border-radius: 50%;
    background-color: get-color('white');
    background-position: center center;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    user-select: none;
  }

  .radio-description {
    flex: 0 0 100%;
    user-select: none;
  }
}

.radio-button-card {
  @include mq($from: md) {
    flex-basis: rem(192px);
    max-width: rem(192px);
    min-height: rem(219px);
  }

  display: flex;
  position: relative;
  flex: 0 0 100%;
  cursor: pointer;
  max-width: 100%;
  min-height: rem(72px);
  font-family: 'Ciutadella';

  &:not(:last-child) {
    @include mq($from: md) {
      margin-right: rem(48px);
      margin-bottom: 0;
    }

    margin-bottom: rem(24px);
  }

  .input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    outline: none;
    width: 0;

    &:hover,
    &:focus,
    &:checked {
      & ~ .radio-description {
        border-color: get-color('dark-hot-pink');
      }
    }

    &:checked ~ .radio-indicator {
      &::before {
        display: block;
        position: absolute;
        top: rem(5px);
        right: rem(5px);
        z-index: 1;
        background-image: url('../../../assets/icons/tick.svg');
        background-repeat: no-repeat;
        background-position: 90% 21%;
        background-size: rem(13px) rem(13px);
        width: rem(13px);
        height: rem(13px);
        content: ' ';
      }

      &::after {
        border-color: transparent;
        border-right-color: get-color('dark-hot-pink');
      }
    }
  }

  .radio-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color 0.33s, border-width 0.33s, background-color 0.33s;
    border: 0 solid transparent;
    border-radius: rem(8px);
    background-color: transparent;
    width: auto;
    height: auto;
    overflow: hidden;
    user-select: none;

    &::after {
      position: absolute;
      top: rem(-1px);
      right: rem(-1px);
      transition: border-color 0.33s;
      border-width: 0 2.5rem 2.5rem 0;
      border-style: solid;
      border-color: transparent;
      width: 0;
      height: 0;
      content: ' ';
    }
  }

  .radio-description {
    @include mq($from: md) {
      flex-direction: column;
    }

    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: flex-start;
    border: rem(1px) solid get-color('alto');
    border-radius: rem(8px);
    box-shadow: 0 0 rem(8px) rem(6px) get-color('shadow-light');
    background-color: get-color('white');
    padding: rem(24px) 0;
    max-width: 100%;
    height: 100%;
  }

  &--stretch {
    @include mq($until: md) {
      flex: 0 1 rem(136px);
      min-height: rem(148px);

      &:not(:last-child) {
        margin-right: 1rem;
        margin-bottom: 0;
      }

      .answers-option {
        &__label {
          flex-direction: column;
          justify-content: space-between;
          padding: rem(16px) 0 0;
        }

        &__text {
          padding: 0 rem(20px) rem(15.6px);
          text-align: center;
        }

        &__icon {
          margin: 0;
          width: rem(56px);
          height: rem(56px);
        }
      }
    }
  }
}
