.hello
  h1 {{ msg }}
  h2 Essential Links
  ul
    li
      a(href="https://vuejs.org", target="_blank") Core Docs
    li
      a(href="https://forum.vuejs.org", target="_blank") Forum
    li
      a(href="https://chat.vuejs.org", target="_blank") Community Chat
    li
      a(href="https://twitter.com/vuejs", target="_blank") Twitter
    li
      a(href="http://vuejs-templates.github.io/webpack/", target="_blank") Docs for This Template
