.ma-grid-container {
  @include make-container();
  @include make-container-max-widths();

  &--fluid {
    max-width: none;
  }

  &--form {
    margin: rem(72px) auto;

    .ma-grid-row {
      > .ma-grid-col,
      > [class*='ma-grid-col--'] {
        margin-bottom: rem(24px);
      }

      &--has-margin-top {
        margin-top: rem(24px);
      }

      &--no-margin-bottom {
        > .ma-grid-col,
        > [class*='ma-grid-col--'] {
          @include mq($from: md) {
            margin-bottom: 0;
          }
        }

        > .ma-grid-col--12 {
          &:last-child {
            @include mq($until: md) {
              margin-bottom: 0;
            }
          }
        }

        > .ma-grid-col--6 {
          &:nth-last-of-type(-n + 2) {
            @include mq($until: md) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
