@import '../../scss/margarita';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: $default-font-size;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rem(2px);
  padding: 1rem;
  color: get-color('white');

  &.px0 {
    padding-right: 0;
    padding-left: 0;
  }
}

.ma-grid-row {
  &:nth-child(odd) {
    .content {
      border-color: get-darken-color('picton-blue', 20%);
      background-color: get-darken-color('picton-blue', 20%);

      &.pink {
        background-color: get-color('dark-hot-pink');
      }
    }
  }

  &:nth-child(even) {
    .content {
      border-color: get-color('picton-blue');
      background-color: get-color('picton-blue');
    }
  }
}
