@import "../../../scss/variables/colors";

.grid-example {
  .m-row {
    .m-column {
      div {
        border: 2px;
        border-radius: 2px;
        padding: 20px;
      }
    }

    &:nth-child(even) {
      .m-column {
        div {
          background-color: map-get($colors, 'dark-hot-pink');
          border-color: map-get($colors, 'dark-hot-pink');
        }
      }
    }

    &:nth-child(odd) {
      .m-column {
        div {
          background-color: map-get($colors, 'school-bus-yellow');
          border-color: map-get($colors, 'school-bus-yellow');
        }
      }
    }

    &+.m-row {
      margin-top: .5rem;
    }
  }
}
