@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import "../../../scss/variables/colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.grid-example {
  .m-row {
    .m-col {
      .content {
        color: white;
        display: flex;
        border: 2px;
        padding: 16px;
        align-items: center;
        justify-content: center;

        &.px0 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &:nth-child(odd) {
      .m-col {
        .content {
          background-color: #1867c0;
          border-color: #1867c0;
        }
      }
    }

    &:nth-child(even) {
      .m-col {
        .content {
          background-color: #5cbbf6;
          border-color: #5cbbf6;
        }
      }
    }

    &+.m-row {
      margin-top: .5rem;
    }
  }
}
