@import "../../../../../scss/margarita";

.navbar {
  display: none;

  @include mq($from: lg) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: inline-block;
    position: relative;
    height: 2rem;
    list-style: none;
    line-height: 1.3;

    &:hover {
      .navbar__dropdown {
        display: block;
      }
    }
  }

  &__anchor {
    padding-bottom: .75rem;
    height: 100%;
    text-decoration: none;
    color: get-color("gray");

    &:hover {
      color: get-color("dark-hot-pink");
    }

    &.active {
      @include font-weight(medium);

      position: relative;
      color: get-color("tundora");

      &::after {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: 11;
        background-image: linear-gradient(
          to right,
          get-color("crimson") 0%,
          get-color("school-bus-yellow") 100%
        );
        background-repeat: no-repeat;
        width: 100%;
        height: .125rem;
        content: "";
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    left: 0;
    z-index: 10;
    margin-top: .75rem;
    box-shadow: 0 .3125rem 1.25rem 0 get-color("shadow-light");
    background: get-color("white");
    padding: .75rem 0;
    min-width: 15rem;
    list-style: none;
  }
}

.dropdown {
  &__item {
    display: flex;
  }

  &__anchor {
    position: relative;
    flex: 0 0 100%;
    padding: .75rem 1.5rem;
    text-decoration: none;
    color: get-color("gray");

    &.active {
      @include font-weight(medium);
      color: get-color("tundora");

      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          180deg,
          get-color("dark-hot-pink") 0,
          get-color("school-bus-yellow")
        );
        width: .125rem;
        height: 100%;
        content: "";
      }
    }

    &:hover {
      color: get-color("dark-hot-pink");

      &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: get-color("dark-hot-pink");
        width: .0625rem;
        height: 100%;
        content: "";
      }
    }
  }
}
