@font-face {
  font-family: Ciutadella;
  font-weight: 400;
  font-display: swap;
  src: url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-Rg.woff2)
      format('woff2'),
    url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-Rg.woff)
      format('woff');
}

@font-face {
  font-family: Ciutadella;
  font-weight: 900;
  font-display: swap;
  src: url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-Bd.woff2)
      format('woff2'),
    url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-Bd.woff)
      format('woff');
}

@font-face {
  font-family: Ciutadella;
  font-weight: 500;
  font-display: swap;
  src: url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-Md.woff2)
      format('woff2'),
    url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-Md.woff)
      format('woff');
}

@font-face {
  font-family: Ciutadella;
  font-weight: 700;
  font-display: swap;
  src: url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-SmBd.woff2)
      format('woff2'),
    url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-SmBd.woff)
      format('woff');
}

@font-face {
  font-family: Ciutadella;
  font-style: italic;
  font-display: swap;
  src: url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-RgIt.woff2)
      format('woff2'),
    url(https://assets.holaluz.com/fonts/ciutadella/Ci1001-RgIt.woff)
      format('woff');
}

html,
body {
  font-family: 'Ciutadella', sans-serif;
  -webkit-font-smoothing: antialiased;
}
