@import '../../scss/margarita';

.ma-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: get-color('tundora');
  font-size: rem(16px);

  &__label {
    margin-bottom: rem(4px);
  }

  &__field {
    -webkit-appearance: none;
    transition: border 0.2s ease;
    border: 1px solid get-color('alto');
    border-radius: 0;
    background-color: get-color('white');
    background-image: url('../../assets/icons/arrow.svg');
    background-position: calc(100% - 12px) 50%;
    background-repeat: no-repeat;
    background-size: 12px 8px;
    padding: 0 rem(32px) 0 rem(8px);
    width: 100%;
    height: rem(36px);
    color: get-color('tundora');
    font-size: rem(16px);

    &:focus {
      outline: 2px solid get-color('classic-rose');
      outline-offset: 0;
      border: 1px solid get-color('dark-hot-pink');
    }

    &:disabled {
      background-color: get-color('concrete');
      color: get-color('gray');
      pointer-events: none;
    }

    &:active,
    &:hover {
      outline: none;
      border: 1px solid get-color('dark-hot-pink');
    }

    &--error {
      border-color: get-color('crimson');

      &:focus,
      &:active {
        border: 1px solid get-color('crimson');
      }
    }

    &--regular {
      @include font-weight(regular);
    }

    &--medium {
      @include font-weight(medium);
    }

    &--semibold {
      @include font-weight(semibold);
    }

    &--bold {
      @include font-weight(bold);
    }
  }

  &__error-message {
    margin-top: rem(4px);
    color: get-color('crimson');
    font-size: rem(14px);
  }
}
