.ma-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--color-gray-dark);
  font-size: 1rem;
}

.ma-select__label {
  margin-bottom: 8px;
}

.ma-select__field {
  -webkit-appearance: none;
  transition: border 0.2s ease;
  border: 1px solid var(--color-gray-light);
  border-radius: 0;
  background-color: var(--color-white-base);
  padding: 0 2rem 0 0.5rem;
  width: 100%;
  height: 2.25rem;
  color: var(--color-gray-dark);

  &:not([size]) {
    background-image: url('../../assets/icons/arrow.svg');
    background-position: calc(100% - 12px) 50%;
    background-repeat: no-repeat;
    background-size: 12px 8px;
  }

  &:focus {
    outline: 2px solid var(--color-pink-light);
    outline-offset: 0;
    border: 1px solid var(--color-pink-base);
  }

  &:disabled {
    background-color: var(--color-brown-light);
    color: var(--color-gray-base);
    pointer-events: none;
  }

  &:active,
  &:hover {
    outline: none;
    border: 1px solid var(--color-pink-base);
  }
}

.ma-select__field--error {
  border-color: var(--color-red-base);

  &:focus,
  &:active {
    border: 1px solid var(--color-red-base);
  }
}

.ma-select__field--regular {
  font-weight: 400;
}

.ma-select__field--medium {
  font-weight: 500;
}

.ma-select__field--semibold {
  font-weight: 700;
}

.ma-select__field--bold {
  font-weight: 900;
}

.ma-select__error-message {
  margin-top: 0.5rem;
}
