.ma-text-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: get-color(gray, dark);

  &__label-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: rem(4px);
  }

  &__label {
    flex: auto;
  }

  &__input-wrapper {
    display: flex;
    height: rem(36px);
  }

  &__input {
    flex: 0 1 100%;
    transition: border 0.2s ease;
    border: 1px solid get-color(gray, light);
    background-color: get-color(white);
    padding: 0 rem(8px);
    max-width: 100%;
    height: 100%;
    font-size: rem(16px);

    &:focus {
      outline: 2px solid get-color(pink, light);
      outline-offset: 0;
      border: 1px solid get-color(pink);
    }

    &:disabled {
      background-color: get-color(brown, light);
      color: get-color(gray);
      pointer-events: none;
    }

    &:active:not(:disabled),
    &:hover:not(:disabled) {
      outline: none;
      border: 1px solid get-color(pink);
    }

    &--error {
      border-color: get-color(pink, dark);
      background-color: get-color(white);
      background-image: url('../../assets/icons/alert-error.svg');
      background-position: calc(100% - 8px) center;
      background-repeat: no-repeat;
      background-size: 20px;
      padding-right: rem(40px);

      &:focus,
      &:active {
        border: 1px solid get-color(pink, dark);
      }
    }
  }

  &__error-message {
    margin-top: rem(4px);
    color: get-color(pink, dark);
    font-size: rem(14px);
  }
}
