.ma-datagrid {
  display: flex;
  min-width: 100%;
  overflow-x: auto;

  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    color: var(--color-gray-dark);
    font-size: 100%;
  }

  table {
    flex: auto;
    z-index: 1;

    width: 100%;
    width: -moz-available; /* Mozilla */
    width: -webkit-fill-available; /* Chrome */
    width: stretch; /* Unprefixed */
  }

  thead {
    tr {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      margin-bottom: 1rem;

      th {
        padding: 0 1rem;
        text-align: left;
        user-select: none;

        & > * {
          vertical-align: middle;
        }
      }
    }
  }

  tbody {
    display: block;
    position: relative;

    tr {
      display: grid;
      position: relative;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      align-items: center;
      margin-bottom: 1rem;
      border-radius: 0.25rem;
      box-shadow: 0 0 6.4px 4px var(--shadow-light);
      background-color: var(--color-white-base);

      &:last-child {
        margin-bottom: 0;
      }

      td {
        padding: 0.5rem 1rem;
        overflow: hidden;
        vertical-align: middle;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    * {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__container {
    display: inline-flex;
    position: relative;
    flex: auto;
    padding: 0.25rem;
    padding-bottom: 2rem;
  }

  &__no-results {
    width: 100%;
    text-align: center;
  }
}
