@import "../../../scss/margarita";

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  color: get-color("tundora");
  font: inherit;
  font-size: 100%;
}

table {
  z-index: 1;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 rem(16px);
}

ul {
  margin: 0;
}

thead {
  tr {
    th {
      padding: 0 rem(16px);
      text-align: left;
      user-select: none;

      & > * {
        vertical-align: middle;
      }
    }

    .sort-arrow {
      display: inline-block;
      background-image: url("../../../assets/icons/sorting-arrow-neutral.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: rem(16px);
      height: rem(16px);
    }

    .sort-cursor-pointer {
      cursor: pointer;
    }

    .sort-arrow--asc {
      font-weight: 700;

      .sort-arrow {
        background-image: url("../../../assets/icons/sorting-arrow-up.svg");
      }
    }

    .sort-arrow--desc {
      font-weight: 700;

      .sort-arrow {
        background-image: url("../../../assets/icons/sorting-arrow-down.svg");
      }
    }
  }
}

tbody {
  tr {
    border-radius: rem(4px);
    box-shadow: 0 0 rem(6.4px) rem(4px) get-color("shadow-light");
    background-color: get-color("white");

    td {
      padding: rem(8px) rem(16px);
      overflow: hidden;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
