@import '../../scss/margarita';

.ma-button {
  @include font-weight(semibold);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, background-position 0.3s, border-color 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
  padding: rem(9px);
  text-decoration: none;
  line-height: 1.13;
  font-size: rem(16px);

  &:disabled {
    cursor: not-allowed;

    &:not(.ma-button--loading) {
      border-color: get-color('boulder');
      color: get-color('boulder');

      &:not(.ma-button--secondary):not(.ma-button--no-background):not(.ma-button--white) {
        background: get-color('boulder');
        color: get-color('white');
      }
    }
  }

  > span {
    display: grid;
    grid-auto-flow: column;
    grid-gap: rem(8px);
    align-items: center;
    pointer-events: none;
  }

  &--fluid {
    flex-grow: 0;
    padding: rem(11px);
  }

  &--rounded {
    flex-grow: 0;
    border-radius: 100%;
    padding: rem(11px);
  }

  &--no-background {
    @include font-weight(regular);
    justify-content: start;
    transition: color 0.3s;
    border: 0;
    padding: 0;
    width: auto;
    color: get-color('dark-hot-pink');

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      color: darken(get-color('dark-hot-pink'), 10%);
    }
  }

  &--primary {
    background-color: get-color('dark-hot-pink');
    color: get-color('white');

    &:focus {
      outline: 2px solid get-color('classic-rose');
      outline-offset: 0;
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: darken(get-color('dark-hot-pink'), 10%);
      color: get-color('white');
    }

    &.ma-button--rounded {
      box-shadow: 0 2px 3px 2px get-color('shadow-medium');
    }
  }

  &--secondary {
    border-color: get-color('dark-hot-pink');
    background-color: transparent;
    color: get-color('dark-hot-pink');

    &:focus {
      outline: 2px solid get-color('classic-rose');
      outline-offset: 0;
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: get-color('dark-hot-pink');
      color: get-color('white');
    }

    &.ma-button--rounded {
      border-color: transparent;
      background-color: transparent;
      color: get-color('dark-hot-pink');

      &:hover:not(:disabled),
      &:active:not(:disabled),
      &.ma-button--loading {
        border-color: lighten(get-color('dark-hot-pink'), 50%);
        background-color: lighten(get-color('dark-hot-pink'), 50%);
        color: get-color('dark-hot-pink');
      }
    }
  }

  &--white {
    border-color: get-color('white');
    background-color: transparent;
    color: get-color('white');

    &:focus {
      outline: 2px solid get-color('classic-rose');
      outline-offset: 0;
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: get-color('tango');
      color: get-color('white');
    }

    &.ma-button--rounded {
      border-color: transparent;
      background-color: transparent;
      color: get-color('white');

      &:hover:not(:disabled),
      &:active:not(:disabled),
      &.ma-button--loading {
        border-color: lighten(get-color('white'), 50%);
        background-color: lighten(get-color('white'), 50%);
        color: get-color('white');
      }
    }
  }

  &--gradient {
    background-image: linear-gradient(
      to right,
      get-color('dark-hot-pink') 0%,
      get-color('tango') 40%,
      get-color('selective-yellow') 50%,
      get-color('dark-hot-pink') 100%
    );
    background-size: 200% auto;
    color: get-color('white');

    &:focus {
      outline: 2px solid get-color('classic-rose');
      outline-offset: 0;
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-position: right center;
    }
  }
}

button {
  outline: inherit;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}
