.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  transition: opacity 0.2s ease;
  background-color: get-alpha-color(black, 0.5);
  width: 100%;
  height: 100%;
}

.modal {
  transition: transform 0.8s;
  border-radius: 4px;
  box-shadow: 0 2px 8px get-alpha-color(black, 0.67);
  background-color: get-color(white);
  z-index: 1;

  // so that it doesn't reach end of viewport
  width: 96vw;
  word-break: break-word;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: get-space('xsmall');
  border-radius: 4px 4px 0 0;
}

.modal-header--gradient {
  background: linear-gradient(to right, get-color(orange), get-color(pink));
  color: get-color(white);
}

.modal-header--gradient .modal-title {
  flex: 1;
  text-align: center;
}

.modal-title {
  @include font-weight(bold);
  font-size: 1.5rem;
}

.icon-close {
  border-style: solid;
  border-width: 1px;
  padding: 0.25rem;

  &--pink {
    color: get-color(pink, base);

    &:hover,
    &:active,
    &:focus {
      color: get-color(pink, dark);
    }
  }

  &--white {
    color: get-color(white, base);

    &:hover,
    &:active,
    &:focus {
      opacity: 0.75;
    }
  }
}

.modal-content {
  // because fuck standards, that's why
  // https://github.com/w3c/csswg-drafts/issues/129
  margin-bottom: get-space('xsmall');
  padding: 0 get-space('xsmall');
  // height management
  max-height: 85vh;
  overflow-y: auto;
}

.modal--width-small {
  max-width: 300px;
}
.modal--width-medium {
  max-width: 500px;
}
.modal--width-large {
  max-width: 800px;
}

.modal-leave-active,
.modal-enter {
  opacity: 0;

  .modal {
    transform: translateY(-4rem);
  }
}
