@import '../../../scss/margarita';

.checkbox-input {
  display: block;
  position: relative;

  &__label {
    padding-left: rem(22px);
    line-height: rem(22px);
    color: get-color('tundora');
    font-size: rem(16px);
    user-select: none;

    &:hover ~ .checkmark-box {
      border: rem(1px) solid get-color('dark-hot-pink');
    }
  }

  &__field {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked ~ .checkmark-box,
    &:disabled ~ .checkmark-box {
      background-image: url('../../../assets/icons/tick.svg');
      background-position: rem(3px) rem(3px);
      background-repeat: no-repeat;
      background-size: rem(10px) rem(10px);
    }

    &:checked ~ .checkmark-box {
      border: 0;
      background-color: get-color('dark-hot-pink');
    }

    &:disabled ~ .checkmark-box {
      border: none;
      background-color: get-color('boulder');
    }

    &:disabled ~ .checkbox-input__label:hover {
      cursor: not-allowed;
    }

    & ~ .checkbox-input__label:hover {
      cursor: pointer;
    }
  }

  .checkmark-box {
    position: absolute;
    top: rem(2px);
    left: 0;
    transition: border 0.4s;
    border: rem(1px) solid get-color('alto');
    background-color: get-color('white');
    width: rem(16px);
    height: rem(16px);
  }
}
