@import "../../../scss/margarita";

.select-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: get-color("tundora");
  font-size: rem(16px);

  &__label {
    margin-bottom: rem(4px);

    &--hidden {
      position: absolute;
      margin: rem(-1px);
      border: 0;
      padding: 0;
      width: rem(1px);
      height: rem(1px);
      overflow: hidden;
      clip: rect(0 0 0 0);
    }
  }

  &__field {
    transition: border .2s ease;
    border: rem(1px) solid get-color("alto");
    background-color: get-color("white");
    background-image: url("../../../assets/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    background-size: auto;
    padding: 0 rem(32px) 0 rem(8px);
    width: 100%;
    height: rem(36px);
    color: get-color("tundora");
    font-size: rem(16px);
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &:active,
    &:hover {
      outline: none;
      border: rem(1px) solid get-color("dark-hot-pink");
    }

    &:focus {
      outline: rem(2px) solid get-color("classic-rose");
      outline-offset: 0;
      border: rem(1px) solid get-color("dark-hot-pink");
    }

    &:disabled {
      background-color: get-color("concrete");
      pointer-events: none;
    }

    &--error {
      border-color: get-color("crimson");

      &:focus,
      &:active {
        border: rem(1px) solid get-color("crimson");
      }
    }

    &--regular {
      @include font-weight(regular);
    }

    &--medium {
      @include font-weight(medium);
    }

    &--semibold {
      @include font-weight(semibold);
    }

    &--bold {
      @include font-weight(bold);
    }
  }

  &__error-message {
    margin-top: rem(4px);
    color: get-color("crimson");
    font-size: rem(14px);
  }
}
