.ma-heading {
  padding: 0;
  margin: 0;
  font-weight: bold;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::before {
    margin-bottom: var(--top-crop);
  }

  &::after {
    margin-top: var(--bottom-crop);
  }
}

.gradient {
  background: linear-gradient(90deg, var(--gradient-holaluz));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
}
