@import "../../../scss/margarita";

.grid-row {
  @include make-row();
  margin-bottom: rem(24px);

  .grid-row {
    margin-right: $grid-gutter-width / -2;
    margin-left: $grid-gutter-width / -2;
  }

  &--no-gutters {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    > .grid-col,
    > [class*="grid-col--"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &--direction-column {
    flex-direction: column;
  }
}
