.horizontal-slide-animation-right-enter-active,
.horizontal-slide-animation-right-leave-active,
.horizontal-slide-animation-left-enter-active,
.horizontal-slide-animation-left-leave-active {
  transition: 0.3s;
}

.horizontal-slide-animation-left-enter,
.horizontal-slide-animation-left-leave-to {
  transform: translate(-100%, 0);
}

.horizontal-slide-animation-right-enter,
.horizontal-slide-animation-right-leave-to {
  transform: translate(100%, 0);
}
