.ma-card {
  padding: rem(24px);

  &--gray {
    background-color: get-color(brown, light);
  }

  &--white {
    box-shadow: 0 0 6px 2px $shadow-light;
    background-color: get-color(white);
  }

  &--has-padding-top {
    padding-top: rem(24px);
  }
}
