.ma-card {
  padding: 1.5rem;

  &--gray {
    background-color: var(--color-brown-light);
  }

  &--white {
    box-shadow: 0 0 6px 2px $shadow-light;
    background-color: var(--color-white-base);
  }

  &--has-padding-top {
    padding-top: 1.5rem;
  }
}
