@import '../../../scss/margarita';

.alert-banner {
  display: flex;

  &--small {
    padding: rem(4px);

    @include mq($from: sm) {
      padding: rem(8px);
    }

    .alert-banner__icon {
      margin-right: rem(8px);
    }
  }

  &--medium {
    padding: rem(8px);

    @include mq($from: sm) {
      padding: rem(16px);
    }
  }

  &--large {
    padding: rem(12px);

    @include mq($from: sm) {
      padding: rem(24px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    display: block;
    margin-right: rem(16px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: rem(20px);
    min-width: rem(20px);
    height: rem(20px);

    .alert-banner--error & {
      background-image: url('../../../assets/icons/alert-error.svg');
    }

    .alert-banner--warning & {
      background-image: url('../../../assets/icons/warning.svg');
    }

    .alert-banner--success & {
      background-image: url('../../../assets/icons/rounded-tick.svg');
    }

    .alert-banner--info & {
      background-image: url('../../../assets/icons/info.svg');
    }
  }

  &__text {
    @include font-weight(medium);
    margin: 0;
    width: 100%;
  }

  &__title {
    @include font-weight(semibold);

    margin: 0;
    margin-bottom: rem(8px);
    font-size: rem(20px);
  }

  &--error {
    background-color: get-color('pippin');
    color: get-color('crimson');
  }

  &--info {
    background-color: get-color('alto');
    color: get-color('emperor');
  }

  &--success {
    background-color: get-color('primrose');
    color: get-color('japanese-laurel');
  }

  &--warning {
    background-color: get-color('peach-cream');
    color: get-color('brown');
  }
}
