@import '../../../scss/margarita';

.loader {
  margin-bottom: rem(8px);
  border-radius: rem(16px);
  background: lighten(get-color('black'), 85%);
  height: rem(8px);

  &:last-child {
    margin-bottom: 0;
  }
}
