@include font-face(
  "CiutadellaRegular",
  "../assets/fonts/ciutadella/Ci1001-Rg",
  $weight: 400,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "CiutadellaBold",
  "../assets/fonts/ciutadella/Ci1001-Bd",
  $weight: 900,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "CiutadellaMedium",
  "../assets/fonts/ciutadella/Ci1001-Md",
  $weight: 500,
  $style: null,
  $exts: eot woff2 woff ttf svg
);
@include font-face(
  "CiutadellaSemibold",
  "../assets/fonts/ciutadella/Ci1001-SmBd",
  $weight: 700,
  $style: null,
  $exts: eot woff2 woff ttf svg
);
@include font-face(
  "CiutadellaItalic",
  "../assets/fonts/ciutadella/Ci1001-RgIt",
  $weight: null,
  $style: italic,
  $exts: eot woff2 woff ttf svg
);
