@include font-face(
  "Ciutadella",
  "~/fonts/ciutadella/Ci1001-Rg",
  $weight: 400,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "Ciutadella",
  "~/fonts/ciutadella/Ci1001-Bd",
  $weight: 900,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "Ciutadella",
  "~/fonts/ciutadella/Ci1001-Md",
  $weight: 500,
  $style: null,
  $exts: eot woff2 woff ttf svg
);
@include font-face(
  "Ciutadella",
  "~/fonts/ciutadella/Ci1001-SmBd",
  $weight: 700,
  $style: null,
  $exts: eot woff2 woff ttf svg
);
@include font-face(
  "Ciutadella",
  "~/fonts/ciutadella/Ci1001-RgIt",
  $weight: null,
  $style: italic,
  $exts: eot woff2 woff ttf svg
);

* {
  font-family: "Ciutadella";
}
