$colors: (
  "alto": rgba(220, 220, 220, 1),
  "black": rgba(0, 0, 0, 1),
  "buttercup": rgba(245, 166, 35, 1),
  "concrete": rgba(243, 243, 243, 1),
  "crimson": rgba(234, 24, 64, 1),
  "dark-hot-pink": rgba(230, 0, 125, 1),
  "emperor": rgba(80, 80, 80, 1),
  "gray": rgba(135, 135, 135, 1),
  "japanese-laurel": rgba(38, 135, 0, 1),
  "lima": rgba(112, 186, 32, 1),
  "picton-blue": rgba(84, 173, 236, 1),
  "pippin": rgba(255, 221, 220, 1),
  "peach-cream": rgba(255, 242, 220, 1),
  "primrose": rgba(226, 243, 173, 1),
  "rice-flower": rgba(237, 255, 218, 1),
  "school-bus-yellow": rgba(255, 220, 0, 1),
  "scotch-mist": rgba(255, 249, 221, 1),
  "solitude": rgba(231, 246, 255, 1),
  "tundora": rgba(74, 74, 74, 1),
  "white": rgba(255, 255, 255, 1),
  "wild-sand": rgba(246, 246, 246, 1),
  "shadow": rgba(0, 0, 0, .03)
);

$color-primary: get-color("dark-hot-pink");
