@import "../../../scss/margarita";

.layout-card{
	padding: rem(24px);
	overflow: hidden;
	
	&--gray {
		background-color: get-color('concrete');
	}

	&--white {
		background-color: get-color('white');
		box-shadow: 0 0 rem(6px) rem(2px) get-color('shadow');
	}

	&--has-margin-top {
		padding-top: rem(24px);
	}
}