.ma-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ma-pagination__button {
  box-shadow: 0 2px 3px 2px $shadow-light;
  min-width: 2.3rem;
  height: 2.3rem;
}

.ma-pagination__button--number {
  margin: 0 0.5rem;
}

.ma-pagination__button--backwards {
  transform: scaleX(-1);
  margin-right: 0.5rem;
  margin-left: 0;
}

.ma-pagination__button--forwards {
  margin-right: 0;
  margin-left: 0.5rem;
}

.ma-pagination__separator {
  align-self: flex-end;
  justify-content: center;
  padding-bottom: rem(8px);
  text-align: center;
  color: get-color(ink, light);
}
