@import '../../scss/margarita';

.ma-pagination {
  display: flex;
  align-items: center;
  align-self: center;
  margin: rem(16px) 0 rem(48px);

  &__left,
  &__right {
    display: flex;
  }

  &--invisible {
    visibility: hidden;
  }

  &__current {
    padding: 0 rem(16px);
    min-width: rem(210px);
    text-align: center;
    color: get-color('tundora');
  }

  &__icon {
    margin: 0 rem(8px);

    &--back,
    &--start {
      transform: scaleX(-1);
    }
  }
}
