@import "../../scss/margarita";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;

  &__logo {
    display: flex;
    max-width: 100%;
    height: 1.5rem;
  }

  &-logo {
    &__image {
      flex: 0 0 5.7rem;
      background-image: url("../../assets/images/logo.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 1.5rem;
      content: "";
    }
  }

  .button-input {
    height: rem(24px);
    font-size: rem(12px);
  }

  .links__mobile {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: get-color("scotch-mist");

    &.slide-animation-enter-active {
      animation: slide-animation .4s;
    }

    &.slide-animation-leave-active {
      animation: slide-animation .4s reverse;
    }

    @keyframes slide-animation {

      0% {
        transform: translate(-100%);
      }

      100% {
        transform: translate(0);
      }

    }
  }
}
